PORT=your_port
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/replace_with_your_database

JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=1h
JWT_ISSUER=secure-note-app
JWT_AUDIENCE=secure-note-app-users

CLIENT_URL=frontend_URL
NODE_ENV=development

ARGON2_MEMORY_COST=mamory_cost
ARGON2_TIME_COST=limit
ARGON2_PARALLELISM=limit

LOG_LEVEL=info